


/* cтиль для ссылки*/

a { text-decoration: none; } 

/* cтиль для параграфа*/

p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987; 
}

/* cтиль для меню навигации*/

.navi {  
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;  }

/* cтиль для заголовка h1*/

h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

/* cтиль для заголовка h2*/

h2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}
