* {
  padding: 0px;
  margin: 0px;
}

.top {
  padding-bottom: 162.45px;
}

.header {
  margin-top: 51px;
  margin-bottom: 94.71px;
}

.content {
  padding-top: 89px;
}

.text {
  margin-bottom: 17px;
}

.content__button {
  margin-top: 37px;
}

.footer {
  margin-top: 97px;
}
